.bg {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-image: url(../img/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

/*
    INTRO
*/
.intro {
    margin-top: calc(var(--navHeight) + 50px);
    padding: 0 var(--paddingX);
    color: white;
}
.welcome {
    background: linear-gradient(99deg, #ff00f7ab, #5f008096);
    padding: 5px;
    border: 1px solid #ffffff80;
    width: fit-content;
    margin-bottom: 5px;
}
.intro > h1 {
    margin: 10px 0;
    width: 80%;
}
.about {
    padding: 12px;
    border-radius: 15px;
    backdrop-filter: blur(10px);
    max-width: 497px;
    border: 3px dotted #ffffff69;
    /* background-color: #2d2d2d4a; */
}
.spacemanImg {
    width: 100%;
    height: fit-content;
    position: relative;
}
.spacemanImg .spaceman {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-16px);
    animation: spaceman 5s infinite alternate linear;
}
.spacemanImg .moon {
    width: 100%;
    transform-origin: 10px;
    animation: moon 3s infinite alternate ease-in-out;
}

@keyframes spaceman {
    50% {
        transform: translate(-16px, -20px) rotate(10deg);
    }
    70% {
        transform: translate(-25px, -20px) rotate(-6deg);
    }
}
@keyframes moon {
    to {
        transform: translate(-10px, -19px);
    }
}

/* 
    SKILLS
*/

.skills {
    padding: var(--paddingX);
    color: white;
}
.cardSkills {
    background-color: black;
    padding: 20px 30px;
    text-align: center;
    border-radius: 15px;
}
.circleBars {
    margin-top: 20px;
    display: grid;
    grid-auto-flow: row;
    grid-auto-rows: 1fr;

    gap: 50px;
    padding: 15vw;
    justify-content: center;
}
.buttCV {
    text-decoration: none;
    background: linear-gradient(45deg, #ea01de, #4d03a7);
    color: white;
    padding: 30px 15px;
    border-radius: 9px;
    font-weight: bold;
}

/* CV */
.imgCV {
    display: block;
    margin: calc(var(--navHeight) + 20px) auto;
    width: 90%;
    border-radius: 5px;
}
/* 
    PROJECTS    
*/
.projects {
    padding: var(--paddingX);
    color: white;
}
.projectsGrid {
    display: grid;
    grid-auto-rows: 1fr;
    width: 100%;
}
